<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating"> Ingrese un usuario o su correo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Ingrese su(s)  Nombre(s)</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Ingrese su(s) Apellido(s)</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Ingrese su Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Ingrese su contraseña</ion-label>
    <ion-input type ="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Verifique su contraseña</ion-label>
    <ion-input type ="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder=" Elige tu fecha de nacimiento"></ion-datetime>
  </ion-item>


  <ion-button expand="full">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>
    REGISTRO
  </ion-button>

</ion-content>
