<ion-header>
  <ion-toolbar color="secondary">
    <center><ion-title>REGISTRO UCLA</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img class="icon" src="assets/icon/registro.jpeg" alt="">

  <ion-item>
    <ion-label position="floating">Ingrese su(s)  Nombre(s)</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ingrese su(s) Apellido(s)</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ingrese su Email</ion-label>
    <ion-input [(ngModel)] = "email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ingrese su contraseña</ion-label>
    <ion-input type ="password" [(ngModel)] = "password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY"placeholder="Elige tu fecha de nacimiento"></ion-datetime>
  </ion-item>

  <ion-button expand="full" (click)="OnSubmitRegistrar()">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>
    REGISTRO
  </ion-button>

</ion-content>
