<ion-header>
  <ion-toolbar class="titulo" color="secondary">
    <center><ion-title>REGISTRO UCLA</ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content padding class="titulo">

  <img class="icon" src="assets/icon/registro.jpeg" alt="">

  <ion-item>
    <ion-label position="floating" >INGRESE SU(S)  NOMBRE(S)</ion-label>
    <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">INGRESE SU(S) APELLIDOS</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">INGRESE SU EMAIL</ion-label>
    <ion-input [(ngModel)] = "email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">INGRESE SU CONTRASEÑA</ion-label>
    <ion-input type ="password" [(ngModel)] = "password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY"placeholder="FECHA DE NACIMIENTO"></ion-datetime>
  </ion-item>

  <ion-button expand="full" color="secondary" (click)="OnSubmitRegistrar()">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>
    REGISTRO
  </ion-button>

</ion-content>
